
body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse sobre el botón primario */
.btn-primary:hover {
    background-color: #3700b3;
}

/* Estilos para el botón secundario */
.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse sobre el botón secundario */
.btn-secondary:hover {
    background-color: #018786;
}

/* Estilos para el botón peligroso (danger) */
.btn-danger {
    background-color: #b00020;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse sobre el botón de peligro */
.btn-danger:hover {
    background-color: #7a0002;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }

  li {
    button {
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      text-transform: capitalize;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    
  
    th, td {
      padding: 0.75rem 1rem;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
      
    }
  
    thead {
      background-color: #a7a5a5;
      font-weight: bold;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }
}
.actions {
    display: inline-flexbox;
}
.actions button{
    margin-right: 0.5rem;
}
.actions button:last-child {
    margin-right: 0;
}   